{% extends 'base.html' %}

{% block title %}Post Details{% endblock %}

{% block content %}
<div>
    <div>
        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>
        <p><i>By {{post.user.first_name}} {{post.user.last_name}} on {{post.created_at}}</i></p>
    </div>
    <div>
        <a href="/users/{{post.user_id}}">Cancel</a>
        <form action="/posts/{{post.id}}/edit" method="GET">
            <button>Edit</button>
        </form>
        <form action="/posts/{{post.id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </div>
</div>
{% endblock %}