{% extends 'base.html' %}

{% block title %}Tag Details{% endblock %}

{% block content %}
<div>
    <div>
        <h1>{{tag.name}}</h1>
        <ul>
            {% for post in tag.posts %}
            <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <form action="/tags/{{tag.id}}/edit" method="GET">
            <button>Edit</button>
        </form>
        <form action="/tags/{{tag.id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </div>
</div>
{% endblock %}